.video-carousel{
    margin: 2%;
}

.video-card{
    margin:7%;
}

.video-thumbnail{
    position: relative;
    text-align: center;
    color: black;
}

.view-count{
    position: absolute;
    font-size: smaller;
    bottom: 5px;
    left: 5px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    padding: 1%;
}

.video-duration{
    position: absolute;
    font-size: smaller;
    bottom: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    padding: 1%;
}

.card-title{
    overflow: hidden;
    height: 38px;
    text-overflow: ellipsis;
}

.card:hover  .card-title{
    overflow:visible;
    font-style: italic;
  }
