.video-car-container{
border: none !important;
}

.twitch-video{
    align-self: center; 
    border: none !important; 
}

.logo-image{
    width: 70px;
    height: 70px;
}

.user-image{
    text-align: right;
}

.channel-name{
    margin-top: 2%;
    font-weight: bold;
}

.channel-followers{
font-size: smaller;
}

.channel-info-container{
    margin: 1%;
}